@font-face {
  font-family: 'GilroyExtraBold';
  src: local('GilroyExtraBold'), url(./assets/fonts/Gilroy-ExtraBold.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./assets/fonts/Gilroy-Light.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@keyframes slideUp {
  0% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  animation: 1.5s ease-out 0s 1 slideUp;
}

#greenRing {
  animation: 1.5s ease-out 0s 1 slideUp;
}

#profileThumb {
  animation: 1.6s ease-out 0s 1 slideUp;
}

#name {
  animation: 1.8s ease-out 0s 1 slideUp;
  font-family: 'GilroyExtraBold', sans-serif;
}

#usernames {
  animation: 2s ease-out 0s 1 slideUp;
  font-family: 'Gilroy', sans-serif;
}

main {
  animation: 3.5s ease-out 0s 1 fadeInAnimation;
}

#dashes {
  animation: 3.75s ease-out 0s 1 fadeInAnimation;
}

footer {
  animation: 4s ease-out 0s 1 fadeInAnimation;
  font-family: 'Gilroy', sans-serif;
}