@font-face {
  font-family: 'GilroyExtraBold';
  src: local('GilroyExtraBold'), url(./assets/fonts/Gilroy-ExtraBold.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./assets/fonts/Gilroy-Light.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ring {
  height: fit-content;
  position: absolute;
}

#name {
  font-family: 'GilroyExtraBold', sans-serif;
}

#usernames {
  font-family: 'Gilroy', sans-serif;
}

/* .ring {
  background-image: url(./assets/images/ring.png);
  background-size: cover;
  height: fit-content;
  position: absolute;
  transform: translateY(-15%) translatez(0px);
}

.ring::after::before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  background-image: url(./assets/images/ring.png);
} */

.profile {
  width: 50px;
  height: 50px;
}

footer {
  font-family: 'Gilroy', sans-serif;
}