.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ring {
  height: fit-content;
  position: absolute;
}

/* .ring {
  background-image: url(./assets/images/ring.png);
  background-size: cover;
  height: fit-content;
  position: absolute;
  transform: translateY(-15%) translatez(0px);
}

.ring::after::before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  background-image: url(./assets/images/ring.png);
} */

.profile {
  width: 50px;
  height: 50px;
}