@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./assets/fonts/Gilroy-Light.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

/* {
  padding: 0;
  margin: 0;
} */

body {
  /* background: url(./assets//images/background.jpg) no-repeat center center; */
  /* background-position: 50%;
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%; */

  /* background-image: url(./assets/images/background.jpg);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */

}

html {
  background: url(./assets/images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

:root {
  font-family: 'Noto Sans', sans-serif;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}